<!-- declaração do controller e definição da diretiva when-scrolled que permite o infinite scroll como paginação -->
<section ng-controller="ArticlesCtrl" when-scrolled="nextPage()">

  <button ng-show="hasNewArticles" ng-click="showNewArticles()" class="btn btn-info btn-block btn-lg">Novos Artigos</button>

  <!-- lista de artigos -->
  <section id="article-{{article.id}}" class="article" ng-class="{'selected':article.selected}" ng-repeat="article in articles | filter:search" ng-include="template(article)" ng-hide="article.new"></section>

  <!-- botão para carregar mais e feedback que o sistema está carregando -->
  <div ng-show="loadMore">
    <button ng-hide="loadingArticles" class="btn btn-block btn-lg btn-info" ng-click="nextPage()">Carregar mais</button>
    <div ng-show="loadingArticles" class="text-center"><img src="/assets/loading.gif"> Carregando...</div>
  </div>
</section>

