<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Olá <%= @user.name %>,</h1>
    <p>
      Identificamos que você perdeu a sua senha
      e fez uma requisição para recuperá-la.<br/>
    </p>
    <p>
      Para realizar a recuperação basta seguir o link abaixo e preencher o formulário:<br/>
    </p>
    <p>
      <%= @url %><br/>
    </p>
    <p>
      Este link é valido até <%= @user.reset_due %><br/>
    </p>
    <p>
      Caso não tenha sido você que requisitou esta alteração, por favor desconsidere este e-mail e
      fique tranquilo pois somente com a chave (contida no link acima) e no periodo de validade
      que será possível alterar a sua senha.<br/>
    </p>
    <p>
      Caso você prefira pode cancelar esta chave clicando no link abaixo:<br/>
    </p>
    <p>
      <%= @url_rollback %><br/>
    </p>
    <p>A equipe le Blog agradece!</p>
  </body>
</html>