<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.name %> seja bem vindo ao le Blog!</h1>
    <p>
      Você se cadastrou com sucesso no le Blog,
      seu login é <%= @user.email %> e sua senha somente você sabe :D<br>
    </p>
    <p>
      Para entrar no le Blog basta entrar no seguinte endereço: <%= @url %>.
    </p>
    <p>A equipe le Blog agradece!</p>
  </body>
</html>