<section ng-controller="UsersCtrl" class="well">
  <form ng-submit="resetPassword()">
    <h1>Recuperação de senha</h1>

    <p>
      <label class="sr-only" for="user-password">Nova Senha</label>
      <input placeholder="Nova Senha" id="user-password" class="form-control" ng-model="user.password" type="password" />
    </p>
    <p>
      <label class="sr-only" for="user-password-confirmation">Confirme</label>
      <input placeholder="Confirme" id="user-password-confirmation" class="form-control" ng-model="user.password_confirmation" type="password" />
    </p>

    <p class="controls">
      <button class="btn btn-lg btn-primary">Alterar a senha</button>
      <a class="" href="#" ng-click="cancel()">voltar para listagem</a>
      <a class="" href="/recuperar/{{reset_password}}/cancelar">cancelar token</a>
    </p>
  </form>
</section>

