    <div class="title" style="background-color:{{post.color}}">
      <div ng-show="user.id == post.author.id">
        <i class="edit-btn quick-effect glyphicon glyphicon-edit" ng-click="post.editForm()"></i>
        <i class="edit-btn quick-effect glyphicon glyphicon-trash" ng-click="post.destroy()"></i>
      </div>

      <h1 ng-click="post.toggleSelect()" ng-bind="post.title"></h1>

      <div class="author effect">
        <span class="info">&dash; {{post.author.name}} em <span title="{{post.created_at|date:'dd/MM/yyyy HH:mm:ss'}}">{{post.created_at|date:'dd/MM/yyyy'}}</span></span>
      </div>
    </div>

    <div class="content quick-effect">
      <div class="text" ng-bind-html="post.text|markdown"></div>
    </div>
