<section ng-controller="ArticlesCtrl" when-scrolled="nextPage()">

  <section class="article" ng-class="{'selected':article.selected}" ng-repeat="article in articles">
    <div class="title" ng-click="!article.edit && article.toggleSelect()" style="background-color:{{article.edit ? article.editElement.color : article.color}}">

      <div ng-hide="article.edit" ng-bind="article.title"></div>
      <input ng-show="article.edit" type="text" ng-model="article.editElement.title" class="form-control">

      <div class="author effect">
        <span class="info">&dash; {{article.author.name}} em <span title="{{article.created_at|date:'dd/MM/yyyy HH:mm:ss'}}">{{article.created_at|date:'dd/MM/yyyy'}}</span></span>
      </div>
    </div>

    <div class="content quick-effect">
      <div class="toolbar" ng-show="user.id == article.author.id">
        <i class="glyphicon glyphicon-edit effect" ng-click="article.editForm()" ng-hide="article.edit"></i>

        <div class="tools" ng-show="article.edit">
          <i class="glyphicon glyphicon-ok" ng-click="article.save()"></i>

          <i class="glyphicon glyphicon-remove" ng-click="article.cancelEditForm()"></i>

          <i class="glyphicon glyphicon-tint" style="color:{{color}}" ng-repeat="color in colors" ng-click="article.editElement.color = color"></i>

          <i class="glyphicon" ng-class="{'glyphicon-eye-close': !article.editElement.visible, 'glyphicon-eye-open': article.editElement.visible}" ng-click="article.editElement.visible = !article.editElement.visible"></i>

          <i class="glyphicon glyphicon-trash" ng-click="article.destroy()"></i>
        </div>


      </div>

      <div ng-hide="article.edit" ng-bind-html="article.text|markdown"></div>
      <div ng-show="article.edit">
        <textarea class="form-control" ng-model="article.editElement.text"></textarea>
        <a href="http://daringfireball.net/projects/markdown/basics" target="_blank">Sintaxe do markdown</a>
      </div>

    </div>
  </section>

  <div ng-show="loadMore">
    <button ng-hide="loadingArticles" class="btn btn-block btn-lg btn-info" ng-click="nextPage()">Carregar mais</button>
    <div ng-show="loadingArticles" class="text-center"><img src="/assets/loading.gif"> Carregando...</div>
  </div>
</section>

