
/* Landscape phones and down */
@media (max-width: 480px) {
  #device{background-color: purple }

  .well{border-radius:0}
  .effect{
    transition:         none;
    -moz-transition:    none;
    -webkit-transition: none;
    -o-transition:      none;
  }

  .quick-effect{
    transition:         none;
    -moz-transition:    none;
    -webkit-transition: none;
    -o-transition:      none;
  }

  .slow-effect{
    transition:         none;
    -moz-transition:    none;
    -webkit-transition: none;
    -o-transition:      none;
  }

  .btn{border-radius: 0;}

  body{
    padding:30px 0;
  }

  header{
    h1{
      display: block;
      text-align: center;
    }

    a.search-button{
      display: none;
    }

    a,i.glyphicon{
      display: inline-block;
      border-radius: 0;
      color: rgba(127,127,127,0.9);
      background-color: transparent;
      cursor: pointer;
      border: none;
      margin: 0;
    }

    a,i.glyphicon:hover{
      background-color: transparent;
      color: rgb(0,0,0);
    }
  }

  section.article{
    border-radius: 0;
    margin-bottom: 5px;
    -webkit-box-shadow: none;
    -moz-box-shadow:    none;
    box-shadow:         none;

    div.title{
      padding:20px;
      div.edit-btn-container{
        top:-10px;

        i.edit-btn{opacity: 1;}

      }

      h1{
        cursor: pointer;
        font-weight: bold;
        font-size: 15px;
      }
    }

    div.content{
      height:0;

      div.alert{
        font-size: 15px;
      }

      div.text{ padding-top: 10px; font-size: 15px; }
      div.toolbar{
        margin:10px 0;
        font-size: 1.5em;
        display: block;
        text-align: center;
        clear:both;
        max-height: none;


        i.glyphicon{
          margin: 0 5px;
        }

        div.author{
          clear:both;
        }
      }
    }
  }
  section.article.selected{
    div.content{
      margin: 0 20px 20px 20px;
      height: auto;
      max-height: none;
      overflow: auto;
    }
  }


}

